* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*....................................*/

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7vw;
    height: 100vh;
    padding: 0 1.7rem;
    color: black;
    overflow: hidden;
    transition: all 0.5s linear;
    background: linear-gradient(to top, black, #007bff);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.sidebar.logo {
    height: 80px;
    padding: 10px;
}
.menu li {
    padding: 0.8rem;
    margin: 16px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.menu li:hover, .active {
    background: lightslategray;

}

.menu li a {
    width: 95%;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.2rem
}

.menu li a:hover {
    color: black;
}

.menu li a span {
    margin-left: 4px;
    overflow: hidden;
}

.menu li a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    top: 640px;
    left: 0px;
    width: 100%;
}

/*..................*/
.driver_sec {
    isplay: flex;
    height: 100vh;
    width: 93vw;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background: linear-gradient(135deg, white, dodgerblue)
}

.register-form-container {
    max-width: 700px;
    width: 90%;
    height: 97vh;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 .4rem .8rem slategray;
    border: 1px solid black;
    margin-left: 200px;
}

.register-form-container .title-driverForm {
    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.register-form-container .title-driverForm::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5px;
    width: 30px;
    background: linear-gradient(135deg, dodgerblue, black);
}

.register-form-container form .userDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

form .userDetails .input-box {
    margin-bottom: 10px;
    width: calc(100% / 2 - 10px);
}

.userDetails .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.userDetails .input-box input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid #1b1e21;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.userDetails .input-box input:focus,
.userDetails .input-box input:valid {
    border-color: black;
}

.userDetails .input-box input:hover {
    border-color: #1E90FF;

}

form .button {
    height: 45px;
    /*margin: 45px 0;*/
    width: 40%;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}

form .button input {
    width: 100%;
    height: 45px;
    background: #1E90FF;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    /*margin-left: 176px;*/
    /*transition: all .2s ease;*/
}

form .button input:hover {
    background: linear-gradient(135deg, dodgerblue, black);
    color: white;
    transform: scale(1);
}


.btn-panel {
    position: absolute;
    left: 80%;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 200px;
}

.btn-panel .btn {
    /*width: calc(100%/4);*/
    height: 60px;
    margin-bottom: 5rem;
}

.btn-panel .btn input {
    width: 100%;
    height: 100%;
    /*background: #1E90FF;*/
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    /*color: white;*/
    font-weight: 500;
    transition: .5s;
}

.btn-panel div:nth-child(1) input {
    background-color: #1c7430;
}

.btn-panel div:nth-child(2) input {
    background-color: red;
}

.btn-panel div:nth-child(3) input {
    background-color: #171a1d;
    color: white;
}

.btn-panel div:nth-child(4) input {
    background-color: blue;
}

.btn-panel .btn input :hover {
    transform: scale(1);
}

.searchDriver {
    position: absolute;
    left: 43.5%;
    top: 22%;
    /*border: 2px solid black;*/
    width: 700px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 .4rem .8rem slategray;

}

.searchDriverTitle {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}

#searchDriverField {
    margin: 5px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid black;

}

#searchDriverField:hover {
    border: 2px solid dodgerblue;
}

#driverSearchbtn {
    width: 22%;
    height: 40px;
    background-color: darkblue;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: white;

}

#driverSearchClearBtn {
    width: 22%;
    background-color: darkred;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: white;

}

#driverSearchbtn :hover {
    border: 2px solid black;
}

#driverSearchClearBtn :hover {
    border: 2px solid black;
}
/*.table-container {*/
/*    min-height: 100vh;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*background: linear-gradient(45deg, white, #007bff);;*!*/
/*    background: url("../assests/img/standard-quality-control-collage.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*.table-container .table {*/
/*    width: 80vw;*/
/*    height: 90vh;*/
/*    background-color: transparent;*/
/*    !*color: white;*!*/
/*    backdrop-filter: blur(10px);*/
/*    box-shadow: 0 .4rem .8rem slategray;*/
/*    overflow: hidden;*/
/*    border-radius: 10px;*/
/*}*/

/*.table-header {*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: transparent;*/
/*    padding: 1rem 2rem;*/
/*    color: white;*/
/*}*/

/*.table-body {*/
/*    width: 95%;*/
/*    max-height: calc(89% - .8rem);*/
/*    background-color: white;*/
/*    margin: .8rem auto;*/
/*    border-radius: 0.8rem;*/
/*    overflow: auto;*/
/*}*/

/*#vehicle-table {*/
/*    width: 100%;*/

/*}*/

/*table th td {*/
/*    border-collapse: collapse;*/
/*    padding: 1rem;*/

/*}*/

/*thead th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #1E90FF;*/
/*    margin: 0;*/
/*    padding: 0;*/

/*}*/

/*.table-body ::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

/*!*.table-body ::-webkit-scrollbar-thumb {*!*/
/*!*    border-radius: .5rem;*!*/
/*!*    background-color: grey;*!*/
/*!*    visibility: hidden;*!*/
/*!*}*!*/

/*!*.table-body:hover ::-webkit-scrollbar-thumb {*!*/
/*!*    visibility: visible;*!*/
/*!*}*!*/

/*tbody tr:nth-child(even) {*/
/*    background-color: lightslategray;*/
/*}*/

/*tbody tr:hover {*/
/*    background-color: white;*/
/*}*/


/*.table-container {*/
/*    width: 55%;*/
/*    height: 51vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: transparent;*/
/*    backdrop-filter: blur(10px);*/
/*    padding: 5px;*/
/*    overflow: hidden; !* Hide scrollbars *!*/
/*    !*max-height: 50vh;*!*/
/*    border-radius: 10px;*/

/*}*/

/*.table-container .table {*/
/*    width: 80vw;*/
/*    height: 51vh;*/
/*    background-color: white;*/
/*    !*color: white;*!*/
/*    backdrop-filter: blur(10px);*/
/*    box-shadow: 0 .4rem .8rem slategray;*/
/*    overflow: hidden;*/
/*    border-radius: 10px;*/
/*    color: black;*/
/*    padding: 30px;*/


/*}*/

/*.table-header {*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: transparent;*/
/*    padding: 0rem 1rem;*/
/*    color: black;*/
/*    !*margin-bottom: 15px;*!*/
/*}*/

/*.table-body {*/
/*    width: 95%;*/
/*    max-height: calc(89% - .8rem);*/
/*    background-color: white;*/
/*    margin: 1.8rem auto;*/
/*    border-radius: 0.8rem;*/
/*    overflow: auto;*/
/*    box-shadow: 0 .4rem .8rem slategray;*/

/*    !*border: 2px solid black;*!*/

/*}*/

/*#driver-table {*/
/*    width: 100%;*/

/*}*/

/*table th td {*/
/*    border-collapse: collapse;*/
/*    padding: 1rem;*/

/*}*/

/*thead th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #1E90FF;*/
/*    margin: 0;*/
/*    padding: 0;*/

/*}*/

/*.table-body ::-webkit-scrollbar {*/
/*    width: 0;*/
/*}*/

/*!*.table-body ::-webkit-scrollbar-thumb {*!*/
/*!*    border-radius: .5rem;*!*/
/*!*    background-color: grey;*!*/
/*!*    visibility: hidden;*!*/
/*!*}*!*/

/*!*.table-body:hover ::-webkit-scrollbar-thumb {*!*/
/*!*    visibility: visible;*!*/
/*!*}*!*/

/*tbody tr:nth-child(even) {*/
/*    background-color: lightslategray;*/
/*}*/

/*tbody tr:hover {*/
/*    background-color: white;*/
/*}*/
