* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*....................................*/

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7vw;
    height: 100vh;
    padding: 0 1.7rem;
    color: black;
    overflow: hidden;
    transition: all 0.5s linear;
    background: linear-gradient(to top, black, #007bff);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.sidebar.logo {
    height: 80px;
    padding: 10px;
}
.menu li {
    padding: 0.8rem;
    margin: 20px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.menu li:hover, .active {
    background: lightslategray;

}

.menu li a {
    width: 95%;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.3rem
}

.menu li a:hover {
    color: black;
}

.menu li a span {
    overflow: hidden;
}

.menu li a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    top: 600px;
    left: 0px;
    width: 100%;
}

/*....................................*/

td img {
    vertical-align: middle;
}

.table-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(45deg, white, #007bff);;*/
    background: url("../assests/img/standard-quality-control-collage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-container .table {
    width: 80vw;
    height: 90vh;
    background-color: transparent;
    /*color: white;*/
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem slategray;
    overflow: hidden;
    border-radius: 10px;
}

.table-header {
    width: 100%;
    height: 10%;
    background-color: transparent;
    padding: 1rem 2rem;
    color: white;
}

.table-body {
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: white;
    margin: .8rem auto;
    border-radius: 0.8rem;
    overflow: auto;
}

#customer-table {
    width: 100%;

}

table th td {
    border-collapse: collapse;
    padding: 1rem;

}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #1E90FF;
    margin: 0;
    padding: 0;

}

.table-body ::-webkit-scrollbar {
    width: 0;
}

/*.table-body ::-webkit-scrollbar-thumb {*/
/*    border-radius: .5rem;*/
/*    background-color: grey;*/
/*    visibility: hidden;*/
/*}*/

/*.table-body:hover ::-webkit-scrollbar-thumb {*/
/*    visibility: visible;*/
/*}*/

tbody tr:nth-child(even) {
    background-color: lightslategray;
}

tbody tr:hover {
    background-color: white;
}

.approve-button {
    background-color: limegreen;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.approve-button:hover {
    background-color: darkgreen;

}